@use '../../styles/colors';

.post {
  background: colors.$lightgrey;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;

  h2 {
    padding: 1rem 0;
  }

  &__author {
    align-items: center;
    display: flex;
    img {
      width: 2rem;
    }
    b {
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
  }
}
