@use '../../styles/_colors.scss';

.header {
  background: colors.$lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;

  div:last-child {
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
  }

  img {
    cursor: pointer;
  }
}
